# Git
.git
.gitignore

# Go
.mod
go.sum
vendor/

# Build
cmd/api/bin

# Test
coverage.out
*.test

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migration
db/migration/

# Database
*.db
*.sqlite

# Logs
*.log
