# Database configuration
DATABASE_URL=postgres://boilerplate_go_gin:boilerplate_go_gin@localhost:5432/db_boilerplate_go_gin?sslmode=disable

# Server configuration
PORT=8080

# Environment
ENVIRONMENT=development
