# Database configuration
DATABASE_URL=postgres://boilerplate_go_gin:boilerplate_go_gin@localhost:5432/db_boilerplate_go_gin?sslmode=disable
DATABASE_PORT=5432

# Server configuration
PORT=8080
BASE_URL=http://localhost:4000

# Environment
ENVIRONMENT=development
